*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--lightColor);
}
:root{
    --primaryColor:#6e64c6;
    --lightColor:rgb(241, 217, 85);
    --darkColour:rgb(226, 198, 40);
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: var(--primaryColor);
    align-items: center;
    height: 8vh;
    border-bottom: 1.3px solid var(--darkColour);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    width: 30%;
}
nav ul li{
    color: var(--lightColor);
}
nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
nav h1{
   font-size: 2rem; 
   color: var(--darkColour);
   padding-left: 2rem;
}
nav h1 span{
    color: rgb(212, 112, 112);
    font-size:2rem ;
    font-style: oblique;
}
.hero{
    height:92vh ;
    display: flex;
    background-color: var(--primaryColor);
}
.hero .left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 3.7rem;
    
}
.hero .right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left p{
    color: var(--lightColor);
}

.left h1{
    font-size: 3rem;
}

.socialMedia{
    width: 8rem;
    display: flex;
    justify-content: space-evenly;
}
.socialMedia img{
    height: 2.5rem;
    border-radius: 50%;

}

.socialMediaNames{
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: -1.3rem;
   
    
}

.socialMediaNames p{
    font-size: 0.8rem;
    
}

.hero .right img{
    height: 20rem;
    width: 22rem;
    border-radius: 50% 20% / 10% 40%;}